server {
  listen 80;
  server_name www.resumai.art resumai.art;

  root /usr/share/nginx/html;
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  # asset cache (opsiyonel)
  location ~* \.(js|css|png|jpg|jpeg|gif|svg|ico|woff2?)$ {
    try_files $uri =404;
    expires 7d;
  }
}
