version: '3.9'


services:
  web:
    build:
      context: ./resume_maker
      dockerfile: Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - static_volume:/app/static
    ports:
      - "8000:8000"
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
    volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    - certbot_www:/var/www/certbot
    - letsencrypt:/etc/letsencrypt

  certbot:
    image: certbot/certbot:latest
    volumes:
      - certbot_www:/var/www/certbot
      - letsencrypt:/etc/letsencrypt

volumes:
  static_volume:
  certbot_www:
  letsencrypt:



