version: '3.9'


services:
  web:
    build:
      context: ./resume_maker
      dockerfile: Dockerfile
    command: >
      bash -lc "
        python manage.py collectstatic --noinput &&
        python manage.py migrate &&
        gunicorn backend.wsgi:application --bind 0.0.0.0:8000 --workers 3 --timeout 60
      "
    volumes:
      - static_volume:/app/static
    ports:
      - "8000:8000"
    env_file:
      - .env

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    depends_on:
      - web
    volumes:
    - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
volumes:
  static_volume:



